* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
label,
input,
button {
  color: var(--color-dark);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-BG);
  margin-top: var(--xxxl-size);
}

li {
  list-style: none;
}

.content-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  padding: var(--xl-size);
  width: 100vw;
}

/* FORMS */
.error {
  color: var(--color-error);
  font-size: var(--s-font);
  line-height: 1.6;
}

.empty-msg {
  color: var(--color-grey);
  font-family: "Oxanium", cursive;
  font-size: var(--l-font);
  text-align: center;
}

.form__cont {
  background-color: var(--color-light);
  border-radius: var(--s-size);
  box-shadow: 0 0 4rem 2rem rgba(0, 0, 0, 0.1);
  display: grid;
  gap: var(--l-size);
  min-width: 500px;
  padding: var(--l-size) var(--xl-size);
}

.form__title {
  font-family: "Oxanium", cursive;
  font-size: var(--xl-font);
  font-weight: 400;
  line-height: 1;
}

.form__msg {
  color: var(--color-dgrey);
  font-size: var(--m-font);
  line-height: 1.5;
}

.form__ques {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form__ques-text {
  color: var(--color-grey);
  font-size: var(--s-font);
}

.form__ques-link {
  color: var(--color-link);
  font-size: var(--s-font);
  padding: var(--xs-size) var(--s-size);
  text-decoration: none;
}

.form__body {
  display: grid;
  gap: var(--xl-size);
}

.form__input-group {
  display: grid;
}

.form__body input {
  border: none;
  border-bottom: 2px solid var(--color-grey);
  font-size: var(--m-font);
  font-weight: 300;
  line-height: 1.6;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-grey);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-grey);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-grey);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-grey);
}
/* FORMS END */

/* BUTTONS */
.button,
.button--medium,
.button--small {
  background-color: var(--color-btn);
  border: none !important;
  color: var(--color-light);
  cursor: pointer;
  line-height: 1 !important;
}

.button {
  border-radius: var(--xs-size);
  font-size: var(--l-font) !important;
  padding: var(--s-size) var(--l-size);
}

.button--medium {
  border-radius: var(--xs-size);
  font-size: var(--m-font) !important;
  padding: var(--xs-size) var(--m-size);
}

.button--small {
  border-radius: var(--xxs-size);
  font-size: var(--s-font) !important;
  padding: var(--xs-size) var(--s-size);
}
/* BUTTONS END */

@media only screen and (max-width: 560px) {
  body {
    margin-top: var(--xxl-size);
  }

  .main-wrapper {
    padding: var(--m-size) var(--s-size);
  }

  /* FORMS */
  .error {
    font-size: var(--xs-font);
  }

  .empty-msg {
    font-size: var(--s-font);
  }

  .form__cont {
    border-radius: var(--xs-size);
    box-shadow: 0 0 1.6rem 0.5rem rgba(0, 0, 0, 0.1);
    gap: var(--s-size);
    min-width: 300px;
    padding: var(--m-size) var(--s-size);
  }

  .form__title {
    font-size: var(--l-font);
  }

  .form__msg {
    font-size: var(--s-font);
    line-height: 1.3;
  }

  .form__ques-text {
    font-size: var(--xs-font);
  }

  .form__ques-link {
    font-size: var(--xs-font);
    padding: var(--xxs-size) var(--xs-size);
  }

  .form__body {
    gap: var(--m-size);
  }

  .form__body input {
    font-size: var(--s-font);
    line-height: 1.4;
  }
  /* FORMS END */

  /* BUTTONS */
  .button {
    border-radius: var(--xxs-size);
    font-size: var(--m-font) !important;
    padding: var(--xs-size) var(--m-size);
  }

  .button--medium {
    border-radius: var(--xxs-size);
    font-size: var(--s-font) !important;
    padding: var(--xs-size) var(--s-size);
  }

  .button--small {
    border-radius: var(--xxs-size);
    font-size: var(--xs-font) !important;
    padding: var(--xxs-size) var(--xs-size);
  }
  /* BUTTONS END */
}
