.collection__title {
  color: var(--color-deep);
  font-family: "Oxanium", cursive;
  font-size: var(--xl-font);
  line-height: 1;
  text-align: center;
}

.collection__sub-title {
  color: var(--color-grey);
  font-size: var(--s-font);
  line-height: 1;
  margin-top: var(--xs-size);
  text-align: center;
}

.collection-container {
  display: grid;
  gap: 1.4rem;
}

.collection-container .task-list__cont {
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
}

.collection-container .task-list__name {
  cursor: pointer;
  font-size: var(--l-font);
  line-height: 1.4;
  word-break: break-all;
}

.collection__form {
  display: grid;
  gap: var(--m-size);
}

@media only screen and (max-width: 560px) {
  .collection__title {
    font-size: var(--l-font);
    line-height: 1.2;
  }

  .collection__sub-title {
    font-size: var(--xs-font);
    margin-top: var(--xxs-size);
  }

  .collection-container {
    gap: 1.2rem;
  }

  .collection-container .task-list__cont {
    gap: 1rem;
  }

  .collection-container .task-list__name {
    font-size: var(--s-font);
    line-height: 1.4;
  }

  .collection__form {
    gap: var(--m-size);
  }
}
