.form__header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.form__message {
  color: var(--color-error);
  font-size: var(--s-font);
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.task-list__menu-btn {
  color: var(--color-btn);
  cursor: pointer;
  font-size: var(--l-font);
  line-height: 1;
  padding: var(--xxs-size) var(--xs-size);
  transform: translateX(var(--s-size));
}

.task-list__form {
  display: grid;
  gap: 1.6rem;
}

.task-list__title {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-deep);
  font-family: "Oxanium", cursive;
  font-size: var(--xl-font);
  line-height: 1;
  outline: none;
  padding: var(--xs-size) var(--s-size);
  word-break: break-all;
}

.task-list__container {
  display: grid;
  gap: var(--s-size);
}

.list-item {
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.6rem;
  justify-content: space-between;
}

/* CUSTOM CHECKBOX */
.list-item .label-as-cont {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 1.4rem;
  justify-content: center;
  width: 1.4rem;
  z-index: 1;
}

.label-as-cont .chk {
  display: none;
}

.label-as-cont i {
  line-height: 1;
}

.label-as-cont .chk ~ i:nth-of-type(2) {
  display: none;
}

.label-as-cont .chk:checked ~ i:nth-of-type(1) {
  display: none;
}

.label-as-cont .chk:checked ~ i:nth-of-type(2) {
  display: initial;
}

/* CUSTOM CHECKBOX END */

.line-through {
  color: var(--color-grey);
  font-weight: 300;
  text-decoration: line-through;
}

/* Fontawesome icons */
.remove-btn {
  color: var(--color-red);
  cursor: pointer;
  font-size: var(--m-font) !important;
  padding: var(--xxs-size);
}

.check-btn {
  color: var(--color-green);
  font-size: var(--m-font) !important;
  padding: var(--xxs-size);
}

.list-icon {
  color: var(--color-yellow);
  cursor: pointer;
  font-size: var(--m-font) !important;
}
/* Fontawesome icons end */

.list-item .txt-inp {
  font-size: var(--m-font);
  line-height: 1.4;
  outline: none;
  word-break: break-all;
}

.task-list__buttons {
  align-items: center;
  display: grid;
  gap: var(--xl-size);
  grid-auto-flow: column;
  justify-content: center;
}

.task-list__buttons i {
  cursor: pointer;
  font-size: var(--l-font);
  padding: var(--xxs-size);
}

.task-list__buttons #undo,
.task-list__buttons #redo {
  color: var(--color-btn);
}

.task-list__buttons #uncheck-task-list {
  color: var(--color-green);
}

.task-list__buttons #delete-task-list {
  color: var(--color-red);
}

.modal-menu {
  /* dark background */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-menu__content {
  background-color: var(--color-light);
  border-radius: var(--s-size);
  display: grid;
  gap: var(--s-size);
  padding: var(--m-size);
}

.modal-menu__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--xs-size);
  align-items: center;
}

.modal-menu__content .search-box,
.modal-menu__content .sort-label,
.modal-menu__content .search-box__label i {
  font-size: var(--m-font);
  line-height: 1;
}

.modal-menu__content .sort-label,
.modal-menu__content .search-box__label i,
.modal-menu__content .sort-box {
  cursor: pointer;
}

.modal-menu__content .search-box__label i {
  padding: var(--xxs-size);
}

.modal-menu__content .search-box,
.modal-menu__content .sort-label {
  padding: var(--xxs-size) var(--xs-size);
}

.modal-menu__content .sort-box {
  width: 1.2rem;
  height: 1.2rem;
}

.hide {
  display: none;
}

@media only screen and (max-width: 560px) {
  .task-list__menu-btn {
    font-size: var(--m-font);
    padding: 0 var(--xs-size);
    transform: translateX(var(--xs-size));
  }

  .task-list__form {
    gap: var(--s-size);
  }

  .task-list__title {
    font-size: var(--l-font);
    padding: var(--xxs-size) var(--xs-size);
  }

  .task-list__container {
    gap: 0.5rem;
  }

  .list-item {
    gap: 0.4rem;
  }

  /* CUSTOM CHECKBOX */
  .list-item .label-as-cont {
    height: 1.4rem;
    width: 1.4rem;
  }
  /* CUSTOM CHECKBOX END */

  /* Fontawesome icons */
  .remove-btn {
    font-size: var(--s-font) !important;
    padding: var(--xxs-size);
  }

  .check-btn {
    font-size: var(--s-font) !important;
    padding: var(--xxs-size);
  }

  .list-icon {
    font-size: var(--s-font) !important;
  }
  /* Fontawesome icons end */

  .list-item .txt-inp {
    font-size: var(--s-font);
    line-height: 1.4;
  }

  .task-list__buttons {
    gap: var(--m-size);
  }

  .task-list__buttons i {
    font-size: var(--s-font);
    padding: var(--xxs-size);
  }

  .modal-menu__content {
    border-radius: var(--xs-size);
    gap: var(--xs-size);
    padding: var(--m-size);
  }

  .modal-menu__content .search-box,
  .modal-menu__content .sort-label {
    font-size: var(--xs-font);
  }

  .modal-menu__content .search-box__label i {
    font-size: var(--m-font);
    padding: 0;
  }

  .modal-menu__content .search-box,
  .modal-menu__content .sort-label {
    padding: var(--xxs-size) var(--xs-size);
  }

  .modal-menu__content .sort-box {
    width: 1.2rem;
    height: 1.2rem;
  }
}
