.welcome {
  color: var(--color-dgrey);
  font-family: "Oxanium", cursive;
  font-size: var(--l-font);
  line-height: 1.2;
  padding: 0 var(--s-size);
  text-align: center;
  word-break: break-all;
}

@media only screen and (max-width: 560px) {
  .welcome {
    font-size: var(--s-font);
  }
}
